.Login {
  display: flex;
  color: white;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  user-select: none;

  .container {
    width: 230px;
    padding: 20px 10px 20px 10px;
    background-color: #000000ab;
    border-radius: 10px;
    
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      h1 {
        margin: 0;
        font-size: 30px;
      }
  
      p {
        margin: 0;
        font-size: 15px;
      }
    }

    .main {
      input[type="text"],
      input[type="password"] {
        margin-top: 20px;
        height: 25px;
        width: 98%;
        font-size: 15px;

        &:first-child {
          margin-top: 0;
        }
      }

      .remember-me {
        margin-top: 15px;
        text-align: center;
        font-size: 15px;

        input[type="radio"] {
          height: 14px;
          width: 14px;
          accent-color: rgb(0, 0, 0);
        }
      }

      .login {
        margin-top: 15px;
        width: 100%;
        font-size: 20px;
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 5px;
        border: 0;
        
        &:active {
          background-color: rgba(27, 27, 27, 0.95)
        }
      }
    }
  }
}
